<!DOCTYPE html>
<html>
  <head>
    <title>Stupify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    
    <script type="text/javascript">
      window.heartno = "<%= image_url('heart-regular.svg') %>"
      window.heartyes = "<%= image_url('heart-solid.svg') %>"
      window.random = "<%= image_url('random-solid.svg') %>"
      window.back = "<%= image_url('step-backward-solid.svg') %>"
      window.playbtn = "<%= image_url('play-circle-regular.svg') %>"
      window.forward = "<%= image_url('step-forward-solid.svg') %>"
      window.repeat = "<%= image_url('redo-solid.svg') %>"
      window.volumeup = "<%= image_url('volume-up-solid.svg') %>"
      window.home = "<%= image_url('home-solid.svg') %>"
      window.search = "<%= image_url('search-solid.svg') %>"
      window.library = "<%= image_url('book-open-solid.svg') %>"
      window.user = "<%= image_url('user-regular.svg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
